body {
  font: .8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: ivory;
  color: #333;
}

header, 
section, 
article, 
footer {
  display: block;
}

main {
  float: left;
   width: 70%;
}

section {
  padding: 5px 0;
  position: relative;
}

header {
  color: #007e99;
}

header h1 {
 font-size: 2.5em;
 padding: 0px 50px 10px 5px;
}

header h2 {
 font-size: 1.8em;
 padding: 10px 50px 10px 5px;
 display: inline;
  text-align:left;
  font-style: normal;
  font-weight: bold;
}

header h3 {
 font-size: 1.7em;
 padding: 2px 50px 1px 10px;
}

a {
  color: #267;
  text-decoration: underline;
}

a:hover {
  color: #722;
}

.weekBox {
  width:95%;
  border:2px solid gray;
  background-color: LightGreen;
}

.dayBox {
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: PapayaWhip;
  font-style: normal;
  font-size: large;	
}

.eloadas {
	background-color: ivory !important;
}

.tools {
  float: right;
  margin-top: 100px;
  width: 25%;
  /*border:2px solid gray; */
}

.def {
  border:2px solid gray;
  background-color: LightGreen;  
}


/**********************************/
.pbox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding: 8px 8px 10px 8px;
  font-size: large;
  background-color: #FAFAEC;
}
.TheoremBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: SkyBlue;
  font-style: italic;
  font-size: large;
}
.ProofBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: PapayaWhip;
  font-style: normal;
  font-size: large;
}

.ExerciseBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: LightGreen;
  font-style: normal;
  font-size: large;
}
.LemmaBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: DarkKhaki;
  font-style: italic;
  font-size: large;
}
.DefinitionBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: Moccasin;
  font-style: normal;
  font-size: large;
}
.LargeFontBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: White;
  font-style: normal;
  font-size: large;
}
.LargeFont {
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  font-size: large;
}
.button {
  font-size: x-large;
  padding: 0px;
  margin: 0;
  border:2px solid black;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: buttonface;
  text-decoration: none;
}
/*rounded corners of box*/
.corner1 {
  border: 1px solid red;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 1px; 
  width: auto;
  height: auto; 
}
/*
/* Image with Caption
*/
div.figure {
  width: 48%;
  border: 1px black solid;
  padding: 5px;
}
#left {
	float: left;
}
#right {
	float: right;
}
div.figure p {
  text-align: left;
  font-style: italic;
  text-indent: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}
img.scaled {
  width: 100%;
}
.jump-link {
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  font-size: large;	
}
/*
/* show-hide styling
*/
#slidingDiv_1, #slidingDiv_2, #slidingDiv_3, #slidingDiv_4, #slidingDiv_5, #slidingDiv_6, #slidingDiv_7, #slidingDiv_8, #slidingDiv_9, #slidingDiv_10, #slidingDiv_11, #slidingDiv_12, #slidingDiv_13, #slidingDiv_14, #slidingDiv_15, #slidingDiv_16, #slidingDiv_17, #slidingDiv_18, #slidingDiv_19, #slidingDiv_20, #slidingDiv_21, #slidingDiv_22, #slidingDiv_23, #slidingDiv_24, #slidingDiv_25, #slidingDiv_26, #slidingDiv_27, #slidingDiv_28, #slidingDiv_29, #slidingDiv_30, #slidingDiv_31, 
        {
	height:auto;
	background-color: LightGreen;
	padding:20px;
	margin-top: 0px;
	border-bottom:5px solid Black;
	display:none;
}

/*
/*    tools menu
*/
#slidingDiv_101, #slidingDiv_102, #slidingDiv_103, #slidingDiv_104, #slidingDiv_105, #slidingDiv_106, #slidingDiv_107, #slidingDiv_108, #slidingDiv_109, #slidingDiv_110, #slidingDiv_111, #slidingDiv_112, #slidingDiv_113, #slidingDiv_114, #slidingDiv_115, #slidingDiv_116, #slidingDiv_117, #slidingDiv_118, #slidingDiv_119, #slidingDiv_120
        {
	height:auto;
	background-color: LightGreen;
	padding:20px;
	margin-top: 0px;
	border-bottom:5px solid Black;
	display:none;
}
        



/*
 *  Start with the steps being hidden in math eq
 */
#Step1, #Step2, #Step3, #Step4, #Step5, #Step6, #Step7, #Step8, #Step9, #Step10, #Step11, #Step12, #Step13, #Step14, #Step15, #Step16 {
  visibility: hidden;
}
#SStep1, #SStep2, #SStep3, #SStep4, #SStep5, #SStep6, #SStep7, #SStep8, #SStep9, #SStep10, #SStep11, #SStep12, #SStep13, #SStep14, #SStep15, #SStep16 {
  visibility: hidden;
}
/*
